<div class="nav-container">
  <nav class="nav" [ngClass]="{'active': isNavActive}" #nav>
    <div class="container">
      <h1 class="logo"><a routerLink="/">My Website</a></h1>
      <ul>
        <li routerLinkActive="current"><a routerLink="/" >Home</a></li>
        <li routerLinkActive="current"><a routerLink="/clock" routerLinkActive="current">Clock</a></li>
        <li routerLinkActive="current"><a routerLink="/choice-picker" >Choice Picker</a></li>
        <li routerLinkActive="current"><a routerLink="/key-codes" >Key Codes</a></li>
      </ul>
    </div>
  </nav>
</div>
